.bullet {
  width: 10px;
  height: 30px;
  background-color: yellow;
  border-radius: 20px;
  position: absolute;
  animation: shot 1s linear 1 both;
}

@keyframes shot {
  100% {
    top: -5%;
  }
}

.bullet-ui {
  width: 20px;
  height: 60px;
  background-color: yellow;
  border-radius: 20px;
  position: absolute;
  bottom: 80%;
  right: 2%;
  opacity: 1;
  z-index: 5;
}

.bullet-ui__bg {
  width: 20px;
  height: 60px;
  background-color: yellow;
  border-radius: 20px;
  position: absolute;
  bottom: 80%;
  right: 2%;
  opacity: 0.2;
}
.bullet-ui-animation {
  animation: bulletLoad 1s both linear;
}
@keyframes bulletLoad {
  0% {
    height: 0px;
  }
  100% {
    height: 60px;
  }
}

.shotHere {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
