.gameOver {
  width: 100vw;
  height: 100vh;
  opacity: 0.9;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gameOver__info {
  color: rgb(255, 0, 0);
  font-size: 3rem;
  text-transform: uppercase;
}

.gameOver__secondInfo {
  color: white;
  font-size: 2rem;
  margin-top: 50px;
}

.gameOver__btn {
  font-size: 1.5rem;
  padding: 15px;
  border-radius: 20px;
  margin-top: 25px;
  text-transform: uppercase;
  cursor: pointer;

  background-color: black;
  border: 2px solid white;
  color: white;
  &:hover {
    // text-decoration: underline;
    background-color: white;
    border: 2px solid black;
    color: black;
  }
}
